.chatbox {
	position: absolute;
	background: #F8F8F8;
	right: 0px;
	top: 0px;
	height: 99%;
	width: 23%;
	border:1px solid #d3d3d3;
}
.chatbox .header {
	position: absolute;
	top: 0px;
	left: 5%;
	font-size: 200%;
}
.chatbox .sendBtn {
	position: absolute;
	bottom: 3px;
	right: 1%;
	width: 11%;
	height: 26px;
}
.chatbox .writeMsg {
	position: absolute;
	bottom: 3px;
	left: 1%;
	width: 87%;
	height: 26px;
}
.chatbox .msgBox {
	position: absolute;
	background: #FFF;
	top: 7%;
	bottom: 23px;
	right: 3px;
	left: 3px;
	border:1px solid #d3d3d3;
	overflow: hidden;
	overflow-y: scroll;
}
.chatbox ul {
	padding-left: 0px;
}
.chatbox .msgBox li:nth-child(even) { background: #F8F8F8  }
.chatbox .msgBox li:nth-child(odd) { background: #FFF }
.chatbox #choose {
	position: absolute;
	height: 100px;
	top: 30%;
	left: 20%;
	right: 20%;
}
.chatbox #choose .writeMsg {
	position: absolute;
	height: 26px;
	bottom: 0px;
	left: 0px;
	width: 55%;
}
.chatbox #choose .sendBtn {
	position: absolute;
	height: 26px;
	bottom: 0px;
	left: 55%;
	width: 50px;
}
.chatbox .users-check {
	position: absolute;
	right: 10px;
	border:1px solid black;
	border-radius: 8px 8px 8px 8px;
	height: 25px;
	width: 25px;
	text-align: center;
	background: white;
}
.chatbox .users-checked {
	position: absolute;
	border-radius: 8px 0px 8px 8px;
	right: 40px;
	top: 25px;
	background: #F8F8F8;
	border:2px solid black;
	z-index: 2;
}
.chatbox .users-checked ul li {
	text-align: center;
}
.drawboard {
	position: absolute;
	left: 0px;
	top: 0px;
}
.palette {
	position: absolute;
	background: #F8F8F8;
	border:2px black;
	border-style: solid solid solid none;
	left: 0px;
	top: 20px;
	height: 135px;
	width: 40px;
	z-index: 1;
	border-radius: 0 8px 8px 0;
  	display: flex;
  	justify-content: center;
  	align-items; center;
}
.palette #colors {
	position: absolute;
	left: 5px;
	top: 20px;
}
.palette #colors .btn { border:1px solid black; }
.palette #colors .btn.black { background: black; }
.palette #colors .btn.white { background: white; }
.palette #colors .btn.blue { background: blue; }
.palette #colors .btn.red { background: red; }
.palette #colors .btn.yellow { background: yellow; }
.palette .btn.clear {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 10px;
	height: 24px;
}
.palette .btn.clear #trash {
	position: absolute;
	left: 4px;
	top: 4px;
}