<!-- NAVIGATION -->
<div class="headerbar">
	<nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="#/home">Shady Oaks Country Ride</a>
	    </div>
	    <div class="nav-options">
		    <ul class="nav navbar-nav">
		        <li class="socr-btn"><a href="#/home">Home</a></li>
		        <li class="socr-btn"><a href="#/events">Events</a></li>
		        <li class="socr-btn"><a href="#/login">Log in</a></li>
		        <li class="socr-btn"><a href="#/register">Register</a></li>
		    </ul>
	    </div>
	</nav>
</div>