<div class="content">
	<div class="login">
			<form class="form-signin">
		        <h2>Please sign in</h2>
		        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		     </form>
		     <a href="#">Register!</a>
	</div>
	<div class="row">
		<div class="col-lg-4">
	        <h2>Quick plan</h2>
	        <p class="text-danger">Drawboard for LoL tactiques.</p>
	        <p>Plan your next fight online within the Shady Oaks' cozy tea room!</p>
	        <p><a class="btn btn-primary" href="#/draw" role="button">Plan &raquo;</a></p>
	    </div>
	    <div class="col-lg-4">
	        <h2>Events</h2>
	        <p>Check out the upcoming Shady Oaks Country Ride events! </p>
	        <p><a class="btn btn-primary" href="#/events" role="button">Have a look &raquo;</a></p>
	    </div>
	    <div class="col-lg-4">
	        <h2>Bubel corner</h2>
	        <p>Yo, feel liek bubels? Me too. Clickes heres and is bubels so much! A bubel a day
	        keeps juke away.</p>
	        <p class="text-danger">"Sometimes you're the catch. Sometimes you're the bait."
	        <br>-Nami or feed</p>
	        <p><a class="btn btn-primary" href="https://www.youtube.com/watch?v=RCHf5H5Caj4" role="button">Blub &raquo;</a></p>
	    </div>
	</div>
</div>