<form class="login-block">
	<h2>New User</h2>
	<p class="text-cream low">Choose a username:</p>
	<input type="text" class="form-control" placeholder="Username" required autofocus>
	<p class="text-cream low">Choose a password:</p>
	<input type="password" class="form-control" placeholder="Password" required>
	<p class="text-cream low">Confirm password:</p>
	<input type="password" class="form-control" placeholder="Confirm password" required>
	<p class="text-cream low">Anti-bot: How many fingers in one hand?</p>
	<input type="password" class="form-control" placeholder="Answer" required>
	<input type="hidden" value="">
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	<a class="text-cream" href="#">Register!</a>
</form>